
## <summary>policy for kenfmcoin</summary>


########################################
## <summary>
##	Transition to kenfmcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`kenfmcoin_domtrans',`
	gen_require(`
		type kenfmcoin_t, kenfmcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, kenfmcoin_exec_t, kenfmcoin_t)
')


########################################
## <summary>
##	Execute kenfmcoin server in the kenfmcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kenfmcoin_initrc_domtrans',`
	gen_require(`
		type kenfmcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, kenfmcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search kenfmcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kenfmcoin_search_lib',`
	gen_require(`
		type kenfmcoin_var_lib_t;
	')

	allow $1 kenfmcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read kenfmcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kenfmcoin_read_lib_files',`
	gen_require(`
		type kenfmcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, kenfmcoin_var_lib_t, kenfmcoin_var_lib_t)
')

########################################
## <summary>
##	Manage kenfmcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kenfmcoin_manage_lib_files',`
	gen_require(`
		type kenfmcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, kenfmcoin_var_lib_t, kenfmcoin_var_lib_t)
')

########################################
## <summary>
##	Manage kenfmcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kenfmcoin_manage_lib_dirs',`
	gen_require(`
		type kenfmcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, kenfmcoin_var_lib_t, kenfmcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a kenfmcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`kenfmcoin_admin',`
	gen_require(`
		type kenfmcoin_t;
		type kenfmcoin_initrc_exec_t;
		type kenfmcoin_var_lib_t;
	')

	allow $1 kenfmcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, kenfmcoin_t)

	kenfmcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 kenfmcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, kenfmcoin_var_lib_t)

')

